<!-- <div class="container"> -->
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/IMG.jpg" class="img-fluid" alt="fotoperfil" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Devoloper Junior</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Nostrum libero architecto dignissimos amet reiciendis? 
                Ratione sint qui vero necessitatibus! Non, dignissimos esse quae consequuntur 
                minima blanditiis quidem voluptatem iure sequi.</p>
            </span>
        </div>
    </div>
<!-- </div> -->
