<!-- <div class="container"> -->
    <div class="fila">
        <div class="logo">
            <img src="../../../assets/logoAyP.png" alt="logoAyP" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/linkedin.png" id="linkedin" alt="linkedin" class="img-fluid"></a>
            <a href=""><img src="../../../assets/github.png" id="github" alt="github" class="img-fluid"></a>
            <button type="button" class="btn btn-primary" (click)="login()">Ingresar</button>
        </div>
    </div>
<!-- </div> -->